export OPENID_CLIENT_ID='myclient.example.com' # must match your OpenID provider's config
export OPENID_SECRET='...'                     # check your OpenID provider
export OPENID_URL_REALM='https://keycloak.example.com/auth/realms/MYREALM/'
export OPENID_URL_TOKEN='https://keycloak.example.com/auth/realms/MYREALM/protocol/openid-connect/token'
export OPENID_URL_AUTH='https://keycloak.example.com/auth/realms/MYREALM/protocol/openid-connect/auth'
export OPENID_URL_LOGOUT='https://keycloak.example.com/auth/realms/MYREALM/protocol/openid-connect/logout'

export LDAP_BASE_PARTITION_NAME=example
export LDAP_BASE_DOMAIN=com
export LDAP_GROUPS_SCOPE=""

export SERVICES="icinga,ticket"
export SERVICE_ICINGA_PASSWORD="passw0rd1"
export SERVICE_ICINGA_NAME="Icinga"
export SERVICE_ICINGA_URL="https://icinga.example.com"
export SERVICE_ICINGA_GROUP="/Services/Icinga"
export SERVICE_TICKET_PASSWORD="passw0rd2"
export SERVICE_TICKET_NAME="Ticket"
export SERVICE_TICKET_URL="https://ticket.example.com"
export SERVICE_TICKET_GROUP="/Global/Staff"

# openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -sha256 -days 3650 -nodes -subj "/C=XX/ST=StateName/L=CityName/O=CompanyName/OU=CompanySectionName/CN=CommonNameOrHostname"
export LDAP_TLS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQCezdqLXu7d5gtX
Yg32x5ryRirtZ3YJHIm2ewLSs0vGf45nm7YvFskTEH31GYvGpeKhzvaJVFMx4jxE
+oyM2IrKCVttZA4vM5LYrbG9nv1HwImNB30Dr/ljqTRqNl1L+q7AlTR02cYf5glN
4Y8OegkdFbdZ1Zd/mshyScCFpTDrb5Fc55nchvNKO+9QNrIvfmMDY7IPyfeIlLbz
WgcXSZ5lgGvb6Tya5n7/yLYhN7fOQxMuwriV/qAX9uowH+wBtpZoIX/AonDTaBk0
z7Z71VuiFX2jadfBmyCZgt20+fmhw8m7aZ9t6HUPqdRyM3oLnXnQltk9PNAVuPfs
Vl45xicPwvThC/FLNWBNA3jiv72ZReIIJtsGTXcTqkfpKNBiPFgYtqkL8PImbN6Y
xyiVz8w/H4B/OK24i/C+udGVUaTtt94W0Tnn11KziPjauOsZ4FIDPDU47ylNI+Zz
OFGuDuOC73MMtieNnzph52jwuymXlahefxgB0ElEm6dgT0KcqKxKRzmLEi2Bch0s
2gBofCg215wKuK+tQUIUpNkAhaSxaH7uVarQz1FPfGamyan37gthXLMpug861nRG
Hpj2nl2DVXGmQGRhxe7R9IqaBNjJ+/yB/cZBCol/nEhtr7dQkMRC0zHoW+ssSAuI
GkYFwlAkK3GITsOEKg+PDkPIpYjWKQIDAQABAoICAAUY11xk0ibmJNQLriYPFw6S
qPsQuI2nUFY+kYMgxRxcaL4zlb/iK9cETv6ocL+SAHmwEmKrBbaSq9uM7SjyJFZC
wZ/7t6bVMW/p90v+R+PfLqsLo/wT0F3eBvQnxYvUQnqk71eWy9CnSgIpbLWKvjMk
SMvF2sR6O9fLPTYs7KqJ3LEOL/aPkEyAKvi4oLR8ioIH16XBFkRYfZzG9XZOYxqf
6hZXYJ4aKtZb41iimLAyn/F+x3zs/Md4IeEkjScq7J3wAVE2BYgLjc+PoSxNV1EW
/n7ZvVaV+5BhzmrqIRSLm7R7ueXFscgsa8i0lUS9K7VBujxIcOdZlf+McB7LmOJQ
LKUG3RltulHFD0lLJORl9F4ISUY7XHdpBebMQbL9Ln04lh5Ufd5m4LmdOGIM9ZKv
hrWEuiYQwyDmIFBVCxwZPVVctTw6MMHuRRaF8qIo5Lc7jYwQn7Zta4PB++UK/GCa
tpyNKpNXRNWorMRH4Xhrub32bZhp8tO39UxNLz/akaO1w/JvY+5vEtkw77aJ+bTe
X+CB/bW4bbRDXNJ/2HsxxyfZn1UwLUuV4vXGAcO+lpPtk4RYhD4zROmd5BrzzDTT
x/AvUN9A5IoiUCSyxtINtgNcA630I1qL6zq4o386whX+GKs+5LVYE32utlqDn42K
EelhkqVkTXP0dEkbA09fAoIBAQDCw4PtXB0wTpLZhI11F6U3lj++exKcQ0iMRwmM
fdtT7fDDoHOAdhqDOgmNl/gLXHk/8sEvYJL5+vxxOEr6RCTM3i7tZF17LXxxxqL7
Zv5GfjRWthHvUzdHw5QmME9livdqXLWDvJ4jRmeqzJlEKaVKF2pa54EnNJmxmASB
K5sroPqAiEK8kgAxpMcDgMa7zJREabeBjLnsxtzBXzKO7zcJziyFCzRlo6GOc0TQ
9ZJhkvds3ztkacbyyn0pUwuXp842sSgVyPj9mEc34rWO5LxiZoEBa9K0mKeJT12T
h17UXQ+dmbDzKV0MbWYb1K2E7WCJO+OWKzjvLkbHnRjqU9ZLAoIBAQDQu/UvXLw/
4cblfYJUbDNcB/8YEzd2s03Ti3PyLvXK9yjaWP1gszDCIpUx5eV4DblylRmQXsIH
YPVtoZI5Q48gvUL6lJ7Qna9zUn5x2/apPOHo/fOPOmwhZEO37kBu4LfuFvpN975l
ekjLULWVVXdaNiQhzykHnSLRG+xUBEJRHFDiDmvE+x+GSviD0FK+cRLVzGn9XMtF
8nZ/AB6SH+bGVn/hJxaZsR2wyjpcjnS38IgZo5/0VbYnjyVqJAsLriWTAXxe7pWJ
Yer10m0FIiNR5Tkl2U8kMCrb7he7h4ZdIgr29ZS/O1xfW3gx6xR0Ywx1EGiaKoXl
hmaHu31+LwzbAoIBAQCuDZww20kaip2h1lu0cNUtwBBnYgVXsKl8818NNsxzTQkF
Srbt7p3y+ELhTxZU0Odqxr7uYBf5XtuLMwuObKeWjljRvgfstNGpvCKbGYfT56VO
eJe+kVetwpL7LeFGldJWM1PjzwRj8d9jPEUcLTuR4ysg4hMBvng7xecAqL+bVdmI
VD2P18pkkyVndAYmfsVh/jgIhoMBnxZZmYHNSuqc0KvomgLRclJGw6yUMWIH4RdN
LJIfQoiRIXSJIbYSadxX9Comjdw2hYff4bLvaGsSZRiU9I7w5huTEmJGHYwZrLDv
3xHLvQNyv7Go3X/Uc276NZNF+IqA9ZI7gaFqiFHRAoIBAEr0k/E0De2qt+/FCD4k
tLTBslsE24/mh3YFx9caAe2mn6b4+dP1xPaR0J2gfqyD0SpSXGG5hVd8++UodgfW
ONl63Uh6giVL2qtA3mMoqATR9hXiy8mNIzNCfAbaqYynaaU33x6MbnSmWumXy/0a
OcfNVWBGsecoCE6rBkyNUvspfeoPX6fWvdVNqrw63NvCYw8fXpg68Evn66Fje5bh
mc9zVGyXysfaEF1h4V9HUKaU22rJlTD6bnT6NGdPFiBVouyNRgoZBt3UqbkonTmQ
rrpD5CexR3gpS9q6Pw96dUeQZ/uS6J1bRaqAgEL8tdWtk9Wd1NI3nulzP/JR45ii
cK0CggEAfIy5l7CxptTG7o8bRG9E1rgGGzmX1HJLb5UbqcV+MsnPg4gXtSuhtn06
4MG3yZ9JQqduT8LDKSJ0uwF5S21t0ZuJDm29iwEdGaJgdseBVE239/7tvATN0I4d
pK6hBwnxUR3nriQ+gtKK8XGqQbqdkZj4RhVqJtEwuQ8qZOf4iTc8D/znYNrwLOku
JTc5Jz7Qqf2yAick1UWS83YiDLlP6EI5z+B3a80YnjiyWfRAgyU2c3zb2OhF6xEN
XOmRqL/kcW2gaWxeh5y7G3o5Gzh4l/oqMFdtGn+CWi5wzEdCCZ/vxNmD+Xvbjd8m
lEdNfMVKPKOCdB8LIRYyA/Pm9ItgZg==
-----END PRIVATE KEY-----"
export LDAP_TLS_CERTIFICATE="-----BEGIN CERTIFICATE-----
MIIF7zCCA9egAwIBAgIUWyZw664cEMpObQHydNxrR1qNeuQwDQYJKoZIhvcNAQEL
BQAwgYYxCzAJBgNVBAYTAlhYMRIwEAYDVQQIDAlTdGF0ZU5hbWUxETAPBgNVBAcM
CENpdHlOYW1lMRQwEgYDVQQKDAtDb21wYW55TmFtZTEbMBkGA1UECwwSQ29tcGFu
eVNlY3Rpb25OYW1lMR0wGwYDVQQDDBRDb21tb25OYW1lT3JIb3N0bmFtZTAeFw0y
NDA0MTYwNzA4NDBaFw0zNDA0MTQwNzA4NDBaMIGGMQswCQYDVQQGEwJYWDESMBAG
A1UECAwJU3RhdGVOYW1lMREwDwYDVQQHDAhDaXR5TmFtZTEUMBIGA1UECgwLQ29t
cGFueU5hbWUxGzAZBgNVBAsMEkNvbXBhbnlTZWN0aW9uTmFtZTEdMBsGA1UEAwwU
Q29tbW9uTmFtZU9ySG9zdG5hbWUwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIK
AoICAQCezdqLXu7d5gtXYg32x5ryRirtZ3YJHIm2ewLSs0vGf45nm7YvFskTEH31
GYvGpeKhzvaJVFMx4jxE+oyM2IrKCVttZA4vM5LYrbG9nv1HwImNB30Dr/ljqTRq
Nl1L+q7AlTR02cYf5glN4Y8OegkdFbdZ1Zd/mshyScCFpTDrb5Fc55nchvNKO+9Q
NrIvfmMDY7IPyfeIlLbzWgcXSZ5lgGvb6Tya5n7/yLYhN7fOQxMuwriV/qAX9uow
H+wBtpZoIX/AonDTaBk0z7Z71VuiFX2jadfBmyCZgt20+fmhw8m7aZ9t6HUPqdRy
M3oLnXnQltk9PNAVuPfsVl45xicPwvThC/FLNWBNA3jiv72ZReIIJtsGTXcTqkfp
KNBiPFgYtqkL8PImbN6YxyiVz8w/H4B/OK24i/C+udGVUaTtt94W0Tnn11KziPja
uOsZ4FIDPDU47ylNI+ZzOFGuDuOC73MMtieNnzph52jwuymXlahefxgB0ElEm6dg
T0KcqKxKRzmLEi2Bch0s2gBofCg215wKuK+tQUIUpNkAhaSxaH7uVarQz1FPfGam
yan37gthXLMpug861nRGHpj2nl2DVXGmQGRhxe7R9IqaBNjJ+/yB/cZBCol/nEht
r7dQkMRC0zHoW+ssSAuIGkYFwlAkK3GITsOEKg+PDkPIpYjWKQIDAQABo1MwUTAd
BgNVHQ4EFgQUJ5YdGmzYZvitxaFQj2fUxhjNnH8wHwYDVR0jBBgwFoAUJ5YdGmzY
ZvitxaFQj2fUxhjNnH8wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOC
AgEAW/6FDS8G4ecB4FOZSLVcSuBxreNfw67obJTaZO/px9k6S9iXZrC2rmXyOJ3t
UwkcjfXIWqs7qODoXf+yyzK9cESeOyGgWR9DswtTqRr/1g3YdtnG+TA3Zz3pPtY/
VaF4uznjLVwBrXxm/PY52lNAXl9azSVWeGSVi5TwD9sMIpHFVv7iueuoFLBA+ajs
Gsw9UEgd1DVnNMFiebEPKr1u/aET7LYi17RB3eY6F3KBvR8czNcbR00Sj6rarzXf
XQEI99pmy6lSFqelz4bf+XZ+KHGD/EI5M1OByhwwoPGQOdw5O4CD7AaarSDmzSN9
Ef6lHW82YdKqrsrBAp90+e6cmC8InlSMYuZDxritjEWAKC56pCiL1mWMELTGxQ74
oThwzFpwXPalIh5M1ePzZIjwFkFjrMI+coIaDrGhao/fAQGMIPbjvXLzwojOn9u4
DZ600Id8TfAMWr/FfTeJMafBZCnXSKw5ONdYZPDyh5RMJ9lkbfQ427d45cvdyBcf
KoF3Htclj+vJEPS1/bWxRy3zmYo1Frxvko94P901OCJZ72Y9V9AgNDRZM/8D+Y07
iuy5P/Wdn/77wg5e7rwCFMsTLF0R/tU0yHNJTOJ/7ZFoXd3dUlSPLxgQ4B1Bf/1V
qvacqE9DyZJHOj/F0TqAeOXOWq+tBYZxHedUTVf2oeNHdPg=
-----END CERTIFICATE-----"
