body {
    padding: 10px;
    text-align: center;
    background-color: white;
    font-family: Arial, sans-serif;
    color: #555555;
}

h1 {
    margin-top: 20px;
}

div.hint {
    display: inline-block;
    max-width: 350px;
}

a.serviceButton {
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    background-color: #eeeeee;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    display: inline-block;
    border: solid 1px #cccccc;
    width: calc(100vw - 82px);
    max-width: 300px;
}

a:hover {
    color: #333333 !important;
    background-color: #ffffff !important;
}

div.static-password, div.current-static-password, div.generate-static-password, div.generate-static-password-confirm {
    color: #999999;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.current-static-password-manager, div.current-static-password-unavailable {
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.current-static-password-unavailable {
    color: red;
}

div.current-static-password {
    font-family: monospace;
}

div.static-password {
    cursor: pointer;
}

div.current-static-password {
    font-weight: bold;
}

a.generate-static-password-link, a.generate-static-password-confirm-yes, a.generate-static-password-confirm-no {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    border: solid 1px #cccccc;
    background-color: #eeeeee;
    padding: 4px 8px 4px 8px;
}